<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img [src]="layanan_publik?.fotoProfilInstansi">
  <div class="header-conteiner ion-padding">
    <ion-label>LAYANAN PUBLIK</ion-label>
    <h3>{{layanan_publik?.fullname}}</h3>
    <p>{{layanan_publik?.username}}</p>
  </div>

  <div class="body-conteiner">
    <h4>Akun</h4>

    <ion-list>
      <ion-item routerLink="/edit-profil">
        <ion-label>Edit Profil</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item routerLink="/tentang">
        <ion-label>Tentang</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item (click)="signOut()">
        <ion-label>Keluar</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
